body
{
	background-color: #2E363F;
	color: #C7C0C1;
	font-family: 'Roboto', sans-serif;
	padding: 5px;
}
.title
{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	color: #BB0D19;
}
.panel
{
	transition-duration: 0.6s;
	float: left;
	padding: 10px;
}
.panel:hover
{
	margin-top: 12px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.lewy_panel, .prawy_panel
{
	width: 15%;
	text-align: center;
} 
.srodek_panel
{
	text-align: justify;
	width: 65%;
}
.tresc:after
{
	content: "";
	display: table;
	clear: both;
}
h2
{
	font-family: 'Roboto Mono', monospace;
	color: #BB0D19;
}
a.nav:link, a.nav:visited
{
	font-size: 14px;
	width: 65%;
	background-color: #2E363F;
	color: #C7C0C1;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-color: #C7C0C1;
	border-width: 1px;
	border-style: solid;
	transition-duration: 0.9s;

}
a.nav:hover
{
	border-radius: 64px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
footer.autor
{
	transition-duration: 2s;
	text-align: center;
}
footer.autor:hover
{
	font-size: 24px;
}
.ozdoba
{
	transition-duration: 0.9s;
	width: 150px;
	height: 150px;
	background-color: #7F7F22
}
.ozdoba:hover
{
	border-radius: 64px;
}
.lewa_ozdoba
{
	float: left;
}
.prawa_ozdoba
{
	float: right;
}
.ozdoby:after
{
	content: "";
	display: table;
	clear: both;	
}

@media screen and (max-width: 900px)
{
	.panel
	{
		width: 100%;
	}
	img
	{
		width: 75%;
		height: 75%;
	}
}